@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: rgb(35, 35, 35);
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-y: hidden;
  font-family: "Exo 2", sans-serif;
  font-size: 1.4rem;
  gap: 3rem;
}

h1 {
  font-size: 4rem;
  z-index: 10;
}

.play {
  position: absolute;
  width: 20rem;
  height: 10rem;
  border-radius: 1rem;
  background-color: rgb(24, 195, 5);
  color: rgba(35, 35, 35, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  transition: 0.35s;
}

.play:hover {
  cursor: pointer;
  background-color: rgb(49, 224, 29);
  scale: 1.1;
  box-shadow: 0 0 1.5rem rgb(46, 228, 25);
  color: rgb(35, 35, 35);
}

.footer {
  bottom: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
  padding: 0.7rem;
}

.footer img {
  height: 2rem;
  transition: transform 0.4s ease-in-out;
}

.footer img:hover {
  transform: rotate(360deg);
}

.hide {
  display: hide;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animate-out {
  animation-name: fadeOut;
  animation-duration: .7s;
  animation-fill-mode: forwards;
}

.hidden {
  opacity: 0;
  display: none;
  z-index: -1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-in {
  animation-name: fadeIn;
  animation-duration: 1.3s;
  animation-fill-mode: forwards;
}

.two {
  display: none;
  opacity: 0;
}

#player-score {
  color: rgb(12, 214, 255);
  text-shadow: 0 0 .2rem rgb(12, 214, 255);
}

#ai-score {
  color: rgb(252, 113, 113);
  text-shadow: 0 0 .2rem rgb(252, 113, 113);
}

.selection {
  display: flex;
  align-items: center;
  margin-top: 6rem;
  gap: 8rem;
  border: 3px solid rgb(97, 12, 255);
  border-radius: 2rem;
  padding: 2rem;
  background: linear-gradient(to right, rgb(70, 27, 61), rgb(12, 27, 56), rgb(59, 56, 16));
  box-shadow: 0 0 2.5rem rgb(97, 12, 255);
}

.selection img {
  width: 8rem;
  height: 90%;
  transition: .4s;
}

.selection img:hover {
  cursor: pointer;
  scale: 1.15;
}

.selection img:active {
  transform: rotate(20deg);
}

.scoreboard, .selected, .scores, .win, .lose {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.selected {
  position: absolute;
  gap: 14rem;
}

.scores {
  position: absolute;
  margin-top: 12rem;
  gap: 15.5rem;
}

.scoreboard {
  flex-direction: column;
  margin-top: 4rem;
}

@keyframes blur-out {
  from {
    opacity: 1;
  }
  to {
    opacity: .2;
  }
}

.blur-out {
  animation-name: blur-out;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}

.win, .lose {
  position: absolute;
  width: 35rem;
  height: 30rem;
  background-color: rgba(74, 74, 74, .85);
  border-radius: 2rem;
  padding: 4rem;
  text-align: center;
  flex-direction: column;
  gap: 3rem;
}

.win {
  color: greenyellow;
  text-shadow: 0 0 .4rem greenyellow;
  border: 4px solid rgb(109, 178, 6);
  box-shadow: 0 0 4rem greenyellow;
}

.lose {
  color: rgb(255, 85, 47);
  text-shadow: 0 0 .4rem rgb(255, 85, 47);
  border: 4px solid rgb(206, 67, 36);
  box-shadow: 0 0 4rem rgb(255, 85, 47);
}

.play-again {
  text-shadow: none;
  color: rgb(255, 208, 0);
  padding: 1.8rem;
  background-color: rgba(30, 30, 30, 0.7);
  border: 4px solid rgb(255, 208, 0);
  border-radius: 1rem;
  transition: .4s;
}

.play-again:hover {
  cursor: pointer;
  background-color: rgb(20, 20, 20);
  box-shadow: 0 0 1.5rem rgb(255, 208, 0);
  scale: 1.07;
}

.play-again:active {
  scale: 1;
  opacity: .7;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  animation-name: fade-out;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}